[user]
  name = Tiago Baptista

[core]
  editor = nvim
	excludesFile = ~/.gitignore_global
  pager = delta

[push]
  default = current

[pull]
  rebase = true

[rebase]
  autoStash = true

[alias]
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative

[delta]
  line-numbers = true
  syntax-theme = gruvbox-dark
  side-by-side = false

  file-modified-label = modified:

[interactive]
  diffFilter = delta --color-only

[includeIf "gitdir:~/git/work/"]
path = ~/.gitconfig_work
[includeIf "gitdir:~/git/personal/"]
path = ~/.gitconfig_priv
